.App {
  text-align: center;
  background-color: rgb(8, 37, 49);
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.profileIMG{
  border-radius: 16px;
  border: 2px solid rgb(0, 98, 128);
}

.leagueStats{
  color: darkgoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputiInvocador{
  border-radius: 8px;
  padding: 4px 6px;
  /* width: 100px; */
}

.botaoProcurarInvocador{
  border-radius: 8px;  
  margin-left: 4px;
  padding: 4px 6px;
  color: white;
  background-color: rgb(235, 65, 93);
}

.botaoServidor{
  border-radius: 8px;  
  margin-left: 4px;
  padding: 4px 6px;
  color: white;
  background-color: rgb(235, 65, 93);
  /* width: 55px; */
}

.imgTrofeu{
  background-image: url('../../assets/523.png');
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-right: 4px;
}

/* .imgSemInvocador{
  text-align: center;
  background-image: url('../../assets/523.png');
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-right: 4px;
} */


